<div class="input-group">
    <input type="text" class="form-control" id="{{ inputId }}" readonly onclick="select()" value="http:{{ url }}"/>
    <span class="input-group-addon" title="{% trans %}Subscribe to this series podcast (requires iTunes){% endtrans %}">
        <a href="itpc:{{ url }}" target="_blank"><i class="mdi-av-my-library-music"></i></a>
    </span>
</div>
